body 
{
	overflow-y: overlay;
}

header
{
	height: 100px;
}

.placeholder
{
	height: 120px;
	border: 1px solid #000000;
	border-radius: 0px;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}

.placeholder:hover
{
	background-color: #dddddd !important;
	cursor: pointer;
	color: #0000ff;
}

::-webkit-scrollbar {
  width: 10px;
  height: 22px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #ffc107;
  border: 2px solid #51c8b2;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffc107;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #343a40;
  border: 0px solid #ffffff;
  border-radius: 10px;
}
::-webkit-scrollbar-track:hover {
  background: #343a40;
}
::-webkit-scrollbar-track:active {
  background: #343a40;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

@media (max-width: 625px)
{
	h1
	{
		font-size: 30px;
	}
	
	h2
	{
		font-size: 25px;
	}
}

@media (max-width: 400px)
{
	header { height: 70px; }
	.placeholder { height: 100px; }
	
	h1
	{
		font-size: 20px;
	}
	
	h2
	{
		font-size: 15px;
	}
}
