body 
{
	overflow-y: overlay;
}

header
{
	height: 100px;
}

.content
{
	height: 550px;	
}

.placeholder
{
	height: 120px;
	border: 3px solid #51c8b2;
	border-radius: 0px;
}

.placeholder:hover
{
	background-color: #dddddd !important;
	cursor: pointer;
	color: #0000ff;
}

::-webkit-scrollbar {
  width: 10px;
  height: 22px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #ffc107;
  border: 2px solid #51c8b2;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffc107;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #343a40;
  border: 0px solid #ffffff;
  border-radius: 10px;
}
::-webkit-scrollbar-track:hover {
  background: #343a40;
}
::-webkit-scrollbar-track:active {
  background: #343a40;
}
::-webkit-scrollbar-corner {
  background: transparent;
}